/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Jun 4, 2022, 4:21:17 PM
    Author     : 19longdt
*/
#Race{
    font-style: italic;
    font-size: 20px;
}
table tr:first-child{
background-color: #ffc107;    
}
table tr{
background-color: #9e9e9e;    
}
#courseName{
    margin-left:20px;
}

#horse, tr, td{
    border: 1px solid white;
}

#horse{
      margin-left:20px;
      border-collapse: collapse;
}

